body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(128, 128, 128);
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#left {
    width: 40%;
    text-align: center;
    margin-left: 5%;
}
#right {
    width: 55%;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
h1 {
    text-align: center;
}
.curved-button {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.curved-button:hover {
    background-color: rgb(85, 85, 85);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
